<div class="top_header">
	<nav class="navbar navbar-expand-xl py-2">
		<div class="container-fluid">
			<!-- <img src="assets/images/logo1.png" class="img-fluid pr-3" alt="Responsive image"> -->
			<div class="nav_section">
				<a routerLink="/"><img src="assets/images/hamburger.png">Letz Bargain</a>
			</div>
			<!-- <a class="navbar-brand" href="#">Virtual Employment</a> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<img src="assets/images/icon.png">
				</span>
			</button>
			<nav class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<form class="form-inline my-2 my-lg-0 set_srch">
							<span class="srch"><input class="form-control mr-sm-2" type="search" placeholder="Search"
									aria-label="Search"> <i class="fa fa-search searchIcon"></i></span>
						</form>
					</li>
					<li class="nav-item setmenudesktop">
						<a class="nav-link" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Activity</a>
					</li>
					<li class="nav-item setmenumobile">
						<a class="nav-link" href="#">Activity</a>
					</li>
					<li class="nav-item setmenudesktop">
						<a class="nav-link" href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Write Us</a>
					</li>
					<li class="nav-item setmenumobile">
						<a class="nav-link" href="#"> Write Us</a>
					</li>
					<li class="nav-item setmenudesktop">
						<a class="btn btn-outline-primary mr-4 text-white setbtn setbtn-color" href="#" role="button"><i
								class="fa fa-shopping-cart" aria-hidden="true"></i> Register Shop</a>
					</li>
					<li class="nav-item setmenumobile">
						<a class="btn btn-outline-primary mr-4 text-white setbtn setbtn-color set-no-styling" href="#"
							role="button"> Register Shop</a>
					</li>
					<li class="nav-item setmenudesktop">
						<a class="nav-link" href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
					</li>
					<li class="nav-item  setpd setmenumobile">
						<a class="nav-link" href="#">Notification</a>
					</li>
					<li class="nav-item set_profile setmenudesktop">
						<div class="dropdown">
							<a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-user" aria-hidden="true"></i>
							</a>
							<div class="dropdown-menu setcolr" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="#">Profile</a>
								<a class="dropdown-item" href="#">Logout</a>
							</div>
						</div>
					</li>
					<li class="nav-item set_profile setmenumobile">
						<div class="dropdown">
							<a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Profile
							</a>
							<div class="dropdown-menu setcolr" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="#">Profile</a>
								<a class="dropdown-item" href="#">Logout</a>
							</div>
						</div>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0 setmenudesktop">
					<a class="btn btn-outline-primary mr-4 text-white setbtn set-sign" routerLink="/sign-up" role="button">Sign
						Up</a>
				</form>
				<form class="form-inline my-2 my-lg-0 set-no-styling setmenumobile">
					<a class="btn btn-outline-primary mr-4 text-white setbtn set-sign set-no-styling" routerLink="/sign-up"
						role="button">Sign Up</a>
				</form>
			</nav>
		</div>
	</nav>
</div>