<div class="top-header-bar">
    <nav class="navbar navbar-expand-xl navbar-dark bg-green py-4">
       <div class="container nav_section"> 
          <a class="navbar-brand text-white font-weight-bold" routerLink="/">Letz Bargain</a>
       </div>
    </nav>
 </div>
 <section class="recentjobs">
 <div class="container">
    <div class="message">
       <p></p>
    </div>
    <div class="jobs">
       <div class="row content">
          <div class="col-sm-8 text-center">
             <h2 class="settitle">Sign in to Letz Bargain</h2>
             <div class="social-icons pt-3">
                <!-- <span><i class="fa fa-facebook" aria-hidden="true"></i></span> -->
                <span><i class="fa fa-google-plus" aria-hidden="true" style="cursor: pointer;"></i></span>
             </div>
             <div class="sub-title">
                <p>or use your email account:</p>
             </div>
             <form class="form-sign">
                <div class="form-group col-sm-8 mx-auto mb-2 mt-3 position-relative has-icon-left">
                   <input type="text" class="form-control form-control-lg" id="Email" placeholder="Email">
                   <div class="form-control-position">
                      <i class="fa fa-envelope-o"></i>
                   </div>
                </div>
                <div class="form-group col-sm-8 mx-auto mb-2 mt-3 position-relative has-icon-left">
                    <input type="text" class="form-control form-control-lg" id="Password" placeholder="Password">
                    <div class="form-control-position">
                       <i class="fa fa-lock"></i>
                    </div>
                 </div>
                <div class="button mt-3">
                   <a href="#"></a><button type="submit" class="btn btn-light mb-2 btn-forgot">Forgot your password?</button>
                </div>
                <div class="button mt-5">
                   <a href="#"></a><button type="submit" class="btn btn-light mb-2 btn-sign mediabtn">SIGN IN</button>
                </div>
             </form>
          </div>
          <div class="col-sm-4 p-0">
             <div class="right-img">
                <img src="assets/images/signin.png">
                <div class="inner-content text-center">
                   <h3 class="mediah3">No Account?</h3>
                   <p>Register one now.</p>
                   <div class="button mt-5">
                      <a routerLink="/sign-up"></a><button type="submit" class="btn btn-light mb-2 btn-sign1">SIGN UP</button>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 </section>